            <div class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1>دروس</h1></div>
            </div>
            <div class="row" >
                <div class="col-md-11 alert" [ngClass]="{'alert-success': operationSuccessFull, 'alert-danger': operationUnSuccessFull}" >{{alertMessage}}</div>
            </div>
            <div class="row" id="main" >
                <div id="no-more-tables" >
                    <div class=" col-sm-9 col-md-offset-1 " id="rightBox" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >

                        <div class="row">
                            <form class="form-inline" #lectureModifyForm="ngForm" (ngSubmit)="modifyForm(lectureModifyForm)" >
                                <div class="form-group" >
                                        <input type="text" class="form-control" id="lecName" name="lecName" placeholder="نام درس" [(ngModel)]="lecName" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group" >
                                        <input type="text" class="form-control" id="lecCode" name="lecCode" placeholder="شماره درس"  [(ngModel)]="lecCode" required minlength="8" maxlength="24">
                                </div>
                                <div class="form-group" >
                                    <ss-multiselect-dropdown name="courseGroups" [options]="courseGroups" [texts]="groupsText" [(ngModel)]="courseGroupsModel" [settings]="mySettings" required></ss-multiselect-dropdown>
                                </div>
                                <div class="form-group" >
                                    <ss-multiselect-dropdown name="coursePreRequired" [options]="coursePreRequired" [texts]="preRequiredsText" [(ngModel)]="coursePreRequiredModel" [settings]="mySettings" (ngModelChange)="onChangecourseGroups($event)" required ></ss-multiselect-dropdown>
                                </div>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <input class="input-lg" type="number" class="form-control" name="lecPracUnit" id="lecPracUnit" placeholder="تئوری" [(ngModel)]="lecPracUnit" min="0" max="4" required minlength="1" maxlength="1">
                                        <div class="input-group-addon">تعداد واحد تئوری---تعداد واحد عملی</div>
                                        <input type="number" class="form-control" name="lecTheorUnit" id="lecTheorUnit" placeholder="عملی " [(ngModel)]="lecTheorUnit" min="0" max="4" required minlength="1" maxlength="1">
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <button class=" btn btn-success" >
                                         <span [hidden]="isEditing">
                                             افزودن
                                         </span>
                                         <span [hidden]="!isEditing">
                                             ویرایش
                                         </span>
                                    </button>                             
                                    <!--<input type="submit" value="افزودن">-->
                                </div>
                                <div class="form-group" >
                                    <span [hidden]="!isEditing">
                                        <a (click)="cancelEditing()" class="btn btn-success">
                                                لغو ویرایش
                                        </a>    
                                    </span>       
                                </div>
                            </form>
                    </div>
                </div>
                    <table class="col-md-11 col-sm-11 table-bordered table-striped table-condensed cf" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <thead class="cf">
                        <tr>
                            <th>ردیف</th>
                            <th>نام درس</th>
                            <th >شماره درس</th>
                            <th >تعداد واحد عملی</th>
                            <th >تعداد واحد تئوری</th>
                            <th >گروه</th>
                            <th >پیش نیاز ها</th>
                            <th >ویرایش</th>
                        </tr>
                        </thead>
                        <tbody id="definedCourses">
                            <tr *ngFor="let course of coursesArr; let i=index">
                                <td data-title="test">{{i+1}}</td>
                                <td data-title="test">{{course.name}}</td>
                                <td data-title="test">{{course.code}}</td>
                                <td data-title="test">{{course.practicalUnitCount}}</td>
                                <td data-title="test">{{course.theoreticalUnitCount}}</td>
                                <td data-title="test">
                                    <span *ngFor="let coursegp of course.groups ">
                                        {{coursegp.name}} 
                                    </span>
                                </td>
                                <td data-title="test">
                                    <span *ngFor="let predef of course.preRequiredCourses ">
                                        {{predef.name}} 
                                    </span>
                                </td>

                                <td data-title="test">
                                    <span (click)="removeCourse(i,course.id)" class="glyphicon glyphicon-remove" style="margin-left: 5px;"  aria-hidden="true">
                                    </span>
                                    <span (click)="editCourseSelect(i,course.id)" class="glyphicon glyphicon-edit" aria-hidden="true">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.row -->
<modal #myModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
        {{confirmMessage}}
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">خیر</button>
        <button type="button" class="btn btn-defult" (click)="modal.close()">بله</button>
    </modal-footer>
</modal>