            <div class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1>ویرایش اطلاعات پروفایل</h1></div>
            </div>
            <div class="row" >
                <div class="col-md-11 alert" [ngClass]="{'alert-success': operationSuccessFull, 'alert-danger': operationUnSuccessFull}" >{{alertMessage}}</div>
            </div>
            <div class="row" id="main" >
                <div id="no-more-tables" >
                    <div class=" col-sm-9 col-md-offset-1 " id="rightBox" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >

                        <div class="row">
                            <form class="form-inline" #userModifyForm="ngForm" (ngSubmit)="modifyForm(userModifyForm)" >
                                <div class="col-sm-5 form-group" >
                                        <label style="font-size: large;" for="firstName">نام:</label>
                                        <input type="text" value="{{currentUser.firstName}}" class="form-control" name="firstName" placeholder="نام" [(ngModel)]="firstName" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="col-sm-5 form-group" >
                                        <label style="font-size: large;" for="lastName">نام خانوادگی:</label>
                                        <input type="text" value="{{currentUser.lastName}}" class="form-control" id="lastName" name="lastName" placeholder="نام خانوادگی"  [(ngModel)]="lastName" required minlength="8" maxlength="24">
                                </div>
                                <div class="col-sm-5 form-group" >
                                        <label style="font-size: large;" for="userName">نام کاربری:</label>
                                        <input type="text" value="{{currentUser.userName}}" class="form-control" id="userName" name="userName" placeholder="نام کاربری"  [(ngModel)]="userName" required minlength="8" maxlength="24" disabled>
                                </div>
                                <div class="col-sm-5 form-group" >
                                        <label style="font-size: large;" for="password">رمز عبور :</label>
                                        <input type="password" value="{{currentUser.password}}" class="form-control" id="password" name="password" placeholder="رمز عبور"  [(ngModel)]="password" required minlength="8" maxlength="24" >
                                </div>
                                <div class=" col-sm-5 form-group" >
                                        <label style="font-size: large;" for="email">ایمیل:</label>
                                        <input type="email" value="{{currentUser.email}}" class="form-control" id="email" name="email" placeholder="نام کاربری"  [(ngModel)]="email" required minlength="8" maxlength="24" >
                                </div>

                                <div class=" col-sm-5 form-group">
                                    <button class=" btn btn-success btn-block" >
                                         <span>
                                             ویرایش
                                         </span>
                                    </button>                             
                                    <!--<input type="submit" value="افزودن">-->
                                </div>
                            </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- /.row -->
<modal #myModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
        {{confirmMessage}}
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">خیر</button>
        <button type="button" class="btn btn-defult" (click)="modal.close()">بله</button>
    </modal-footer>
</modal>