            <div *ngIf="inClassView" class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1>کلاس های من</h1></div>
            </div>
            <div *ngIf="inClassView" class="row" id="main" >
                <div id="no-more-tables" >
                    <table class="col-md-11 col-sm-11 table-bordered table-striped table-condensed cf" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <thead class="cf">
                        <tr>
                            <th>ردیف</th>
                            <th>ترم</th>
                            <th >سال تحصیلی</th>
                            <th > درس</th>
                            <th > لیست دانشجویان</th>
                        </tr>
                        </thead>
                        <tbody id="definedCourses">
                            <tr *ngFor="let class of classes; let i=index" id="class{{i}}">
                                <td  data-title="ردیف">{{i+1}}</td>
                                <td  data-title="ترم" *ngIf="class.term.semester==1">
                                  ترم پاییز
                                </td>
                                <td data-title="ترم" *ngIf="class.term.semester==2">ترم زمستان</td>
                                <td data-title="سال تحصیلی">{{class.term.year}}</td>
                                <td data-title="درس">{{class.course.name}}</td>
                                <td  data-title="لیست دانشجویان">
                                    <a class="btn btn-defult">
                                    <span (click)="studentList(i,class.id)" class="glyphicon glyphicon-education" style="margin-left: 5px;"  aria-hidden="true">
                                    </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
            <div *ngIf="!inClassView" class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1> دانشجویان  {{selectedClass}}</h1></div>
            </div>
            <div *ngIf="!inClassView"  class="row" id="main" >
                <div id="no-more-tables" >
                    <table class="col-md-11 col-sm-11 table-bordered table-striped table-condensed cf" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <thead class="cf">
                        <tr>
                            <th>ردیف</th>
                            <th>دانشجو</th>
                            <th > نمره درس</th>
                            <!--<th > حذف دانشجو</th>-->
                        </tr>
                        </thead>
                        <tbody id="definedCourses">
                          <!--#gradeLectureStudent="ngForm" (ngSubmit)="gradeLectureStudent(gradeForm)"-->
                            <tr *ngFor="let student of students; let i=index" id="class{{i}}">
                                <td  data-title="ردیف">
                                  {{i+1}}
                                </td>
                                <td  data-title="دانشجو" >
                                    {{student.userName}}
                                </td>
                                <td data-title="ایمیل">
                                  {{student.grade}}
                                </td>
                                <td data-title="نمره">
                                    <input type="number" class="form-control" style="width:95px;" id="gradeTxt{{i}}" name="gradeTxt" [(ngModel)]="gradeTxt" required minlength="1" maxlength="2" ngModel>
                                    <a class="btn btn-defult">
                                    <span (click)="studentList(i,term.id)" class="glyphicon glyphicon-ok" style="margin-left: 5px;"  aria-hidden="true">
                                    </span>
                                    </a>
                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
              

<modal #myModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
        {{confirmMessage}}
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">خیر</button>
        <button type="button" class="btn btn-defult" (click)="modal.close()">بله</button>
    </modal-footer>
</modal>
<modal #pleaseSelectModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
لطفا یک ترم را  انتخاب کنید
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-defult" data-dismiss="modal" (click)="modal.dismiss()">بله</button>
    </modal-footer>
</modal>