  <!--<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="../assets/css/master.css">
  <link rel="stylesheet" href="../assets/css/courses.css">-->
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="width: 140px" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                <img src="../assets/img/golestan.png"  style="width: 100%;" alt="LOGO">
            </a>
            <ul class="nav navbar-right top-nav visible-xs " style="float: right;">
                <li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">کاربر ادمین <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> خروج</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav hidden-xs">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
            </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">سلام آقای 
                    {{currentUser.firstName}}
                    شما 
                    <span *ngIf="currentUser?.roles">
                        <span [ngSwitch]="getRoles()">
                            <span *ngSwitchCase="'GROUP_MANAGER'">مدیر گروه هستید</span>
                            <span *ngSwitchCase="'MASTER'">استاد</span>
                            <span *ngSwitchCase="'STUDENT'">دانشجو</span>
                        </span>
                    </span>
                    <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a routerLink='/editProfile' (click)="editProfile()" href="#"><i class="fa fa-fw fa-user"></i> ویرایش پروفایل</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-fw fa-power-off"></i> خروج</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                
                <li *ngIf="currentUser?.roles&&isStudent()">
                    <a href="#" data-toggle="collapse" class="collapsed" aria-expanded="true"><i class="fa fa-fw fa-search"></i> ثبت نام <i class="fa fa-fw pull-right fa-angle-down"></i></a>
                </li>
                <li *ngIf="currentUser?.roles&&isStudent()">
                    <a href="#" data-toggle="collapse" ><i class="fa fa-star"></i>  کارنامه <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                </li>
                <li *ngIf="currentUser?.roles&&isMaster()">
                    <a href="#" data-toggle="collapse" ><i class="fa fa-star"></i>  کلاس ها <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                </li>

                <li *ngIf="currentUser?.roles&&isGroupManager()">
                    <a href="#" data-toggle="collapse" data-target="#course-gp" class="collapsed" aria-expanded="false" ><i class="fa fa-fw fa-angle-down pull-right "></i> <i class="fa fa-user-plus" ></i> دروس</a>
                    <ul id="course-gp" class="collapse" aria-expanded="false" style="height: 1px;">
                        <li><a routerLink='/courses' (click)="courseManagement()"> مدیریت دروس <i class="fa fa-angle-double-left"></i></a></li>
                        <li><a routerLink='/groups' (click)="groupManagement()"> گروه های درسی <i class="fa fa-angle-double-left"></i></a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink='/terms'(click)="termsManagement()"><i class="fa fa-fw fa-paper-plane-o"></i>ترم ها</a>
                </li>
                <li class="active" *ngIf="currentUser?.roles&&isGroupManager()">
                    <a href="faq"><i class="fa fa-fw fa-question-circle"></i> اساتید</a>
                </li>
                <li *ngIf="currentUser?.roles&&isStudent()">
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-star"></i>درس های دانشجو <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                </li>
                <li *ngIf="currentUser?.roles&&isGroupManager">
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-star"></i>دانشجویان <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                </li>
                <li *ngIf="currentUser?.roles&&isMaster()">
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-star"></i>دانشجویان <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                </li>
        
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div *ngIf="flagTest" class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1>خوش آمدید</h1></div>
            </div>
            <router-outlet></router-outlet>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>


