            <div class="row" style="margin-bottom: 25px">
                <div class="col-md-12 text-center "><h1>ترم ها</h1></div>
            </div>
            <div class="row" >
                <div class="col-md-11" [ngClass]="{'alert-success': operationSuccessFull, 'alert-danger': operationUnSuccessFull}" >{{alertMessage}}</div>
            </div>
            <div class="row" id="main" >
                <div id="no-more-tables" >
                    <table class="col-md-5 col-sm-11 table-bordered table-striped table-condensed cf" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <thead class="cf">
                        <tr>
                            <th>ردیف</th>
                            <th>ترم</th>
                            <th >سال تحصیلی</th>
                            <th > ویرایش</th>
                        </tr>
                        </thead>
                        <tbody id="definedCourses">
                            <tr *ngFor="let term of terms; let i=index" id="term{{i}}">
                                <td  data-title="ردیف">{{i+1}}</td>
                                <td  data-title="ترم" *ngIf="term.semester==1" data-title="شماره ترم">
                                  ترم پاییز
                                </td>
                                <td data-title="ترم" *ngIf="term.semester==2">ترم زمستان</td>
                                <td data-title="سال تحصیلی">{{term.year}}</td>
                                <td data-title="ویرایش ">
                                    <a class="btn btn-defult">
                                    <span (click)="removeCourse(i,term.id)" class="glyphicon glyphicon-remove" style="margin-left: 5px;"  aria-hidden="true">
                                    </span>
                                    </a>
                                    <a class="btn btn-defult">                                    
                                    <span (click)="editTermSelect(i,term.id)" class="glyphicon glyphicon-edit" aria-hidden="true">
                                    </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class=" col-sm-5 col-md-offset-1 " id="rightBox" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >

                        <div class="row">
                            <div class="text-center">افزودن ترم</div>
                            <form class="form-inline" #addTermForm="ngForm" (ngSubmit)="addTerm(addTermForm)" >
                                <div class="form-group" >
                                        <label for="yearTxt" style="font-size:large;">سال تحصیلی:</label>
                                        <input type="number" class="form-control" style="width:95px;" id="yearTxt" name="yearTxt" [(ngModel)]="yearTxt" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group" >
                                        <label style="font-size:large;" for="termSelection">نوع ترم:</label>
                                        <select class="form-control" id="termSelection" name="termSelection" placeholder="ترم"  [(ngModel)]="termSelection" required minlength="8" maxlength="24">
                                          <option value="1">پاییز</option>
                                          <option value="2">زمستان</option>
                                        </select>
                                </div>
                                <!--<div class="form-group" >
                                    <ss-multiselect-dropdown name="courseGroups" [options]="courseGroups" [texts]="groupsText" [(ngModel)]="courseGroupsModel" [settings]="mySettings" required></ss-multiselect-dropdown>
                                </div>
                                <div class="form-group" >
                                    <ss-multiselect-dropdown name="coursePreRequired" [options]="coursePreRequired" [texts]="preRequiredsText" [(ngModel)]="coursePreRequiredModel" [settings]="mySettings" (ngModelChange)="onChangecourseGroups($event)" required ></ss-multiselect-dropdown>
                                </div>-->
                                <div class="form-group">
                                    <button class=" btn btn-success" >
                                         <span [hidden]="isEditing">
                                             افزودن
                                         </span>
                                         <span [hidden]="!isEditing">
                                             ویرایش
                                         </span>
                                    </button>                             
                                    <!--<input type="submit" value="افزودن">-->
                                </div>
                                <div class="form-group" >
                                    <span [hidden]="!isEditing">
                                        <a (click)="cancelEditing()" class="btn btn-success">
                                                لغو ویرایش
                                        </a>    
                                    </span>       
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">افزودن درس به ترم انتخاب شده</div>
                            <form class="form-inline" #addLectureToTermForm="ngForm" (ngSubmit)="addLectureToTerm(addLectureToTermForm)" >
                                <div class="form-group" >
                                    <label for="courseGroups">انتخاب درس</label>
                                    <ss-multiselect-dropdown name="courses" [options]="courses" [texts]="groupsText" [(ngModel)]="coursesModel" [settings]="mySettings" required></ss-multiselect-dropdown>
                                </div>
                                <div class="form-group" >
                                    <ss-multiselect-dropdown name="masters" [options]="masters" [texts]="preRequiredsText" [(ngModel)]="mastersModel" [settings]="mySettings" (ngModelChange)="onChangecourseGroups($event)" required ></ss-multiselect-dropdown>
                                </div>
                                <div class="form-group">
                                        <label for="yearTxt" style="font-size:large;">کد درس :</label>
                                        <input type="number" class="form-control" style="width:95px;" id="lectureCodeTxt" name="lectureCodeTxt" [(ngModel)]="lectureCodeTxt" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group">
                                        <label for="yearTxt" style="font-size:large;">شماره کلاس :</label>
                                        <input type="number" class="form-control" style="width:95px;" id="roomNumberTxt" name="roomNumberTxt" [(ngModel)]="roomNumberTxt" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group">
                                        <label for="yearTxt" style="font-size:large;">روز</label>
                                        <input type="number" class="form-control" style="width:95px;" id="roomNumberTxt" name="roomNumberTxt" [(ngModel)]="roomNumberTxt" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group">
                                        <label for="yearTxt" style="font-size:large;">ساعت</label>
                                        <input type="number" class="form-control" style="width:95px;" id="roomNumberTxt" name="roomNumberTxt" [(ngModel)]="roomNumberTxt" required minlength="4" maxlength="24" ngModel>
                                </div>
                                <div class="form-group">
                                        <label for="yearTxt" style="font-size:large;">ساعت</label>
                                        <input type="number" class="form-control" style="width:95px;" id="roomNumberTxt" name="roomNumberTxt" [(ngModel)]="roomNumberTxt" required minlength="4" maxlength="24" ngModel>
                                </div>

                                <div class="form-group">
                                    <button class=" btn btn-success" >
                                         <span>
                                             افزودن
                                         </span>
                                    </button>                             
                                    <!--<input type="submit" value="افزودن">-->
                                </div>
                                <div class="form-group" >
                                    <span [hidden]="!isEditing">
                                        <a (click)="cancelEditing()" class="btn btn-success">
                                                لغو ویرایش
                                        </a>    
                                    </span>       
                                </div>
                            </form>
                            <table class="col-md-5 col-sm-11 table-bordered table-striped table-condensed cf" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <thead class="cf">
                                <tr>
                                    <th>ردیف </th>                                    
                                    <th>درس </th>
                                    <th>شماره کلاس</th>
                                    <th >استاد</th>                                    
                                    <th >زمان کلاس</th>
                                    <th > حذف</th>
                                </tr>
                                </thead>
                                <tbody id="definedCourses">
                                    <tr *ngFor="let lecture of lecturesArr; let i=index" id="lecture{{i}}">
                                        <td  data-title="ردیف">{{i+1}}</td>
                                        <td  data-title="درس">
                                          {{lecture.course.name}}
                                        </td>
                                        <td data-title="شماره کلاس" >{{lecture.roomNumber}}</td>
                                        <td data-title="سال تحصیلی">{{lecture.master.firstName}} {{lecture.master.lastName}}</td>
                                        <td data-title="حذف ">
                                            <a class="btn btn-defult">
                                            <span (click)="removeLecture(i,lecture.id)" class="glyphicon glyphicon-remove" style="margin-left: 5px;"  aria-hidden="true">
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                    </div>
                </div>
                </div>
            </div>
            <!-- /.row -->
<modal #myModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
        {{confirmMessage}}
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">خیر</button>
        <button type="button" class="btn btn-defult" (click)="modal.close()">بله</button>
    </modal-footer>
</modal>
<modal #pleaseSelectModal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="false">
        <h4 class="modal-title">تایید عملیات</h4>
    </modal-header>
    <modal-body>
لطفا یک ترم را  انتخاب کنید
    </modal-body>
    <modal-footer >
        <button type="button" class="btn btn-defult" data-dismiss="modal" (click)="modal.dismiss()">بله</button>
    </modal-footer>
</modal>