@media (min-width: 995px) {
    #rightBox{
    }
}
@media(min-width: 400px ) and (max-width: 995px){
    #rightBox{
    }
}
.form-control{
    margin-bottom:10px ;
}
.form-group{
    margin-right: 30px;
}
#main .form-group{
    margin-top: 5px;
    margin-bottom: 5px;
}
#rightBox{
    margin-bottom: 40px !important;
}