<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head >
    <title>سیستم جامع گلستان</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="./css/bootstrap-rtl.min.css"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/login.css"/>
    <link rel="stylesheet" href="./css/fontiran.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"/>
</head>
<body  background="./images/pattern2.jpg">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

<div id="login-overlay" class="modal-dialog" >
    <div class="modal-content" >
        <div class="modal-body" style="background-color: #0f1d27 ;padding-right: 0px; padding-top: 0px;padding-bottom: 0px;">
            <div  style="height: 150px;" class="col-xs-12 visible-xs header">
                <img src="./img/golestan.png" class="logoImg1" style=" float:left;width: 250px; margin-top: 20px;"/>
                <img src="./img/shahid.png" class="logoImg2" style="float:right;width: 110px;margin-top: 20px;color: #ffffff;" />
            </div>

            <div class="row" style="padding-right:0px;">
                <div  style="background-color: #0f1d27 ;height: 360px" class="col-sm-5 visible-sm visible-lg visible-md ">
                    <img src="./img/golestan.png" class="center-block" style="margin-top: 35px;width: 90%;"/>
                    <img src="./img/shahid.png" class="center-block" style="margin-top: 70px;width: 60%;color: #ffffff;" />
                </div>

                <div class="col-xs-12 col-sm-7 " style="margin-bottom: 0px;margin-right:0px;margin-left: 0px;padding-left: 0px;margin-top: 0px;padding-top: 0px;  padding-bottom: 0px;">
                    <div  id="contact-form" class="form-container well data-form-container"  style="margin:0px;  padding-bottom: 0px;">
                        <form id="loginForm" th:action="@{/login}" style="min-height: 339px;margin-bottom: 0px; padding-bottom: 0px;"  method="POST">
                            <div class="hidden-xs" style="height: 75px;"></div>
                            <div class="input-container">
                                <div class="row">
                                    <span class="req-input" >
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                        <input name="username" id="username" type="text" data-min-length="8" placeholder="نام کاربری "/>
                                    </span>
                                </div>
                                <div class="row" style="margin-top: 15px;margin-bottom: 15px">
                                    <span class="req-input" >
                                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
                                        <input type="password" name="password" id="password" data-min-length="8" placeholder="رمز عبور"/>
                                    </span>
                                </div>

                            </div>
                            <input type="submit" value="ورود" name="submit" class="btn btn-success btn-block"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.min.js"></script>
</body>
</html>